<div class="h-full">
    <div class="flex justify-between p-5">
        <h2 class="text-4xl font-bold">Dashboard</h2>

        <div class="flex gap-2">
            <input (change)="onDateChange($event)" class="bg-primary-1 rounded-lg text-white p-2" type="date">
        </div>
    </div>

    <div class="flex w-full justify-around gap-4">
        @for (item of statusList ; track $index) {
        @let data = getStatusData(item.status);

        @switch (item.status) {
        @case ('ABERTO') {
        <div class="flex flex-col p-3 bg-blue-600 text-white rounded-xl font-medium gap-2 w-[16rem]">
            <span>Em aberto</span>
            <div class="flex items-center justify-between font-light">
                <span>Total</span>
                <span class="font-bold text-4xl">{{ data?.total == null ? '0' : data?.total}}</span>
            </div>
        </div>
        }
        @case ('EM_ANDAMENTO') {
        <div class="flex flex-col p-3 bg-yellow-600 text-white rounded-xl font-medium gap-2 w-[16rem]">
            <span>Em Andamento</span>
            <div class="flex items-center justify-between font-light">
                <span>Total</span>
                <span class="font-bold text-4xl">{{ data?.total == null ? '0' : data?.total}}</span>
            </div>
        </div>
        }
        @case ('RESOLVIDO') {
        <div class="flex flex-col p-3  bg-green-600 text-white rounded-xl font-medium gap-2 w-[16rem]">
            <span>Resolvidos</span>
            <div class="flex items-center justify-between font-light">
                <span>Total</span>
                <span class="font-bold text-4xl">{{ data?.total == null ? '0' : data?.total}}</span>
            </div>
        </div>
        }
        @case ('FECHADO') {
        <div class="flex flex-col p-3  bg-red-500 text-white rounded-xl font-medium gap-2 w-[16rem]">
            <span>Fechado</span>
            <div class="flex items-center justify-between font-light">
                <span>Total</span>
                <span class="font-bold text-4xl">{{ data?.total == null ? '0' : data?.total}}</span>
            </div>
        </div>
        }
        }
        }
    </div>

    <div class="flex flex-col mt-4 gap-3 h-[85%]">

        <!-- <div class="flex flex-col gap-3 w-[30%]">
            <div class="bg-white shadow-md rounded-lg h-[50%] p-3">
                <div>
                    <h2 class="font-semibold">Total de chamados por status</h2>
                </div>

                <div class="flex mt-2 flex-col h-full gap-6">
                    @for (item of relatorioStatusDto(); track $index) {
                    @switch (item.status) {
                    @case ('ABERTO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-primary-2">
                            <fa-icon class="text-white" icon="thumbs-up"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados abertos</p>
                        </div>
                    </div>
                    }
                    @case ('EM_ANDAMENTO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-accent">
                            <fa-icon class="text-white" icon="spinner"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados em andamento</p>
                        </div>
                    </div>
                    }
                    @case ('RESOLVIDO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-green-500">
                            <fa-icon class="text-white" icon="check"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados resolvidos</p>
                        </div>
                    </div>
                    }
                    @case ('FECHADO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-red-600">
                            <fa-icon class="text-white" icon="door-closed"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados Fechado</p>
                        </div>
                    </div>
                    }
                    }
                    }
                </div>
            </div>

            
        </div> -->

        <div class="flex gap-3 w-full">
            <div class="bg-white shadow-md rounded-lg w-full flex-col p-3 flex">
                <div>
                    <h2 class="font-semibold">Total de chamados por categoria</h2>
                </div>
            
                @if (!chartOptionsPizza?.series) {
                    <div> 
                        <p>Sem dados</p>   
                    </div>
                }
                    
                <!-- por categoria -->
                <apx-chart class="w-[20%]" [series]="chartOptionsPizza!.series!" [chart]="chartOptionsPizza!.chart!"
                    [labels]="chartOptionsPizza!.labels!" [responsive]="chartOptionsPizza!.responsive!"></apx-chart>
            </div>

            <div class="bg-white shadow-md flex flex-col rounded-lg w-full p-3">
                <div>
                    <h2 class="font-semibold">Total de chamados no dia</h2>
                </div>
                <div class="flex h-full justify-center items-center flex-col">
                    <p class="font-bold text-6xl">{{ relatorioChamadosPorDataDto()?.total }}</p>
                    <p class="font-semibold text-2xl">{{ relatorioChamadosPorDataDto()?.nomeDia }}</p>
                </div>
                <div class="flex items-start w-full">
                    <span class="text-xs font-semibold">Data: {{ relatorioChamadosPorDataDto()?.data }}</span>
                </div>
            </div>

            <div class="bg-white shadow-md flex flex-col gap-2 w-full rounded-lg p-3">
                <div>
                    <h2 class="font-semibold">Tecnicos com mais chamados no dia</h2>
                </div>

                <div class="overflow-auto flex gap-2 flex-col  max-h-[100%]">

                    @for (item of relatorioChamadosPorTecnicoDto(); track $index) {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-slate-500">
                            <fa-icon class="text-white" icon="user"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.tecnico }}</p>
                            <p class="text-xs text-gray-600">Total de chamados: {{ item.totalChamados }}</p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="w-full h-full"> <!-- altura real -->
            <div class="bg-white shadow-md h-[80%] rounded-lg p-4">
                <div>
                    <h2 class="font-semibold">Total de chamados por semana</h2>
                </div>
                <!-- <apx-chart style="height: 100%; display: block;" [series]="chartOptionsBar!.series!"
                    [chart]="chartOptionsBar!.chart!" [dataLabels]="chartOptionsBar!.dataLabels!"
                    [plotOptions]="chartOptionsBar!.plotOptions!" [yaxis]="chartOptionsBar!.yaxis!"
                    [xaxis]="chartOptionsBar!.xaxis!" [fill]="chartOptionsBar!.fill!" [title]="chartOptionsBar!.title!">
                </apx-chart> -->

                <apx-chart  style="height: 100%; display: block;" [series]="chartOptionsBar!.series!" [chart]="chartOptionsBar!.chart!" [xaxis]="chartOptionsBar!.xaxis!"
                    [dataLabels]="chartOptionsBar!.dataLabels!" [grid]="chartOptionsBar!.grid!" [stroke]="chartOptionsBar!.stroke!"
                    [title]="chartOptionsBar!.title!"></apx-chart>
            </div>
        </div>

    </div>


    <!-- <div>
        <apx-chart [series]="chartOptionsLine!.series!" [chart]="chartOptionsLine!.chart!"
            [xaxis]="chartOptionsLine!.xaxis!" [dataLabels]="chartOptionsLine!.dataLabels!"
            [grid]="chartOptionsLine!.grid!" [stroke]="chartOptionsLine!.stroke!"
            [title]="chartOptionsLine!.title!"></apx-chart>
    </div> -->
</div>