<div class="h-full">
    <div class="flex justify-between p-5">
        <h2 class="text-4xl font-bold">Dashboard</h2>

        <div class="flex gap-2">
            <input (change)="onDateChange($event)" class="bg-primary-1 rounded-lg text-white p-2" type="date">
        </div>
    </div>

    <div class="flex gap-3 h-[85%]">
        <div class="flex flex-col gap-3 w-[30%]">
            <div class="bg-white rounded-lg h-[50%] p-3">
                <div>
                    <h2>Total de chamados por status</h2>
                </div>

                <div class="flex flex-col h-full justify-around">
                    @for (item of relatorioStatusDto(); track $index) {
                    @switch (item.status) {
                    @case ('ABERTO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-primary-2">
                            <fa-icon class="text-white" icon="thumbs-up"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados abertos</p>
                        </div>
                    </div>
                    }
                    @case ('EM_ANDAMENTO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-accent">
                            <fa-icon class="text-white" icon="spinner"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados em andamento</p>
                        </div>
                    </div>
                    }
                    @case ('RESOLVIDO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-green-500">
                            <fa-icon class="text-white" icon="check"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados resolvidos</p>
                        </div>
                    </div>
                    }
                    @case ('FECHADO') {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-red-600">
                            <fa-icon class="text-white" icon="door-closed"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.total }}</p>
                            <p class="text-xs text-gray-600">Chamados Fechado</p>
                        </div>
                    </div>
                    }
                    }
                    }
                </div>
            </div>

            <div class="bg-white flex flex-col gap-2 rounded-lg h-[50%] p-3">
                <div>
                    <h2>Tecnicos com mais chamados no dia</h2>
                </div>

                @for (item of relatorioChamadosPorTecnicoDto(); track $index) {
                    <div class="flex gap-2">
                        <span class="p-5 flex justify-center items-center h-6 w-6 rounded-full bg-slate-500">
                            <fa-icon class="text-white" icon="user"></fa-icon>
                        </span>
                        <div>
                            <p class="font-semibold">{{ item.tecnico }}</p>
                            <p class="text-xs text-gray-600">Total de chamados: {{ item.totalChamados }}</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="flex flex-col gap-3 w-[30%]">
            <div class="bg-white rounded-lg h-[50%] flex">
                <!-- por categoria -->
                <apx-chart class="w-[20%]" [series]="chartOptionsPizza!.series!" [chart]="chartOptionsPizza!.chart!"
                    [labels]="chartOptionsPizza!.labels!" [responsive]="chartOptionsPizza!.responsive!"></apx-chart>
            </div>

            <div class="bg-white flex flex-col justify-around items-center rounded-lg h-[50%] p-3">
                <div>
                    <h2>Total de chamados no dia</h2>
                </div>
                <div class="flex justify-center items-center flex-col">
                    <p class="font-bold text-4xl">{{ relatorioChamadosPorDataDto()?.total }}</p>
                    <p class="font-semibold text-2xl">{{ relatorioChamadosPorDataDto()?.nomeDia }}</p>
                </div>
                <div class="flex items-start w-full">
                    <span class="text-xs">Data: {{ relatorioChamadosPorDataDto()?.data }}</span>
                </div>
            </div>
        </div>

        <div class="w-[40%] h-full"> <!-- altura real -->
            <div class="bg-white h-full rounded-lg p-4">
                <div class="flex justify-center">
                    <h2>Total de chamados por semana</h2>
                </div>
                <apx-chart style="height: 100%; display: block;" [series]="chartOptionsBar!.series!"
                    [chart]="chartOptionsBar!.chart!" [dataLabels]="chartOptionsBar!.dataLabels!"
                    [plotOptions]="chartOptionsBar!.plotOptions!" [yaxis]="chartOptionsBar!.yaxis!"
                    [xaxis]="chartOptionsBar!.xaxis!" [fill]="chartOptionsBar!.fill!" [title]="chartOptionsBar!.title!">
                </apx-chart>
            </div>
        </div>

    </div>


    <!-- <div>
        <apx-chart [series]="chartOptionsLine!.series!" [chart]="chartOptionsLine!.chart!"
            [xaxis]="chartOptionsLine!.xaxis!" [dataLabels]="chartOptionsLine!.dataLabels!"
            [grid]="chartOptionsLine!.grid!" [stroke]="chartOptionsLine!.stroke!"
            [title]="chartOptionsLine!.title!"></apx-chart>
    </div> -->
</div>