<section class="flex flex-col px-5 py-7 gap-3">
    <div class="p-1">
        <h1 class="font-bold text-3xl">Pagina Inicial</h1>
    </div>

    <h2 class="font-semibold text-xl">Status dos chamados</h2>

    <div class="flex gap-4">
        <div class="flex flex-col p-3 bg-blue-600 text-white rounded-xl font-medium gap-2 w-[16rem]">
            <span>Em aberto</span>
            <span>130</span>
            <div class="flex justify-between font-light">
                <span>Total</span>
                <span>24%</span>
            </div>
        </div>
        <div class="flex flex-col p-3 bg-yellow-600 text-white rounded-xl font-medium gap-2 w-[16rem]">
            <span>Em Andamento</span>
            <span>56</span>
            <div class="flex justify-between font-light">
                <span>Total</span>
                <span>27%</span>
            </div>
        </div>
        <div class="flex flex-col p-3  bg-green-600 text-white rounded-xl font-medium gap-2 w-[16rem]">
            <span>Resolvidos</span>
            <span>130</span>
            <div class="flex justify-between font-light">
                <span>Total</span>
                <span>24%</span>
            </div>
        </div>
    </div>

</section>