<section class="flex flex-col px-5 py-7 gap-3 overflow-y-auto">
    <div class="flex p-1 justify-between items-center">
        <h1 class="font-bold text-3xl">Chamados</h1>
    </div>
    <h2 class="font-semibold text-xl">Filtros</h2>

    <div class="flex justify-between items-center">
        <div class="flex gap-3">
            <app-form-field label="Titulo">
                <input #titleFilterRef appFormInput placeholder="Pesquise por titulo "
                    (change)="this.filterByTitle($event)" />
            </app-form-field>
            <app-dropdown-select [isNotRequired]="false" #categoryFilterRef [label]="'Categoria'"
                [options]="categoriesPage()?.content!" labelKey="catTxNome" valueKey="catNrId"
                placeholder="Selecione uma categoria" (selectedObject)="this.filterByCategory($event)">
            </app-dropdown-select>

            <app-dropdown-select [isNotRequired]="false" #statusFilterRef [label]="'Status'"
                [options]="StatusEnum | keyvalue" labelKey="value" valueKey="key" placeholder="Selecione uma categoria"
                (selectedObject)="this.filterByStatus($event)">
            </app-dropdown-select>
        </div>


        <div class="flex gap-3">
            <button type="button" class="button-default bg-white text-black hover:bg-slate-50"
                (click)="this.clearFilter()">
                Limpar</button>
            <button type="button" class="button-default bg-primary-3 text-white flex gap-2 hover:bg-primary-2 "
                (click)="this.applyFilter()">
                Filtrar
                <fa-icon icon="filter" />
            </button>
        </div>
    </div>
    <div class="bg-white border-accent rounded-lg shadow-md px-4 py-3 mt-4">
        <div class="flex justify-between">
            <span class="font-semibold">Chamados:</span>
            <app-pagination #paginationRef [totalPages]="this.ticketsPage()?.totalPages"
                (pageChange)="changePage($event)" />
        </div>


        <div class="overflow-x-auto mt-2">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-accent">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                            Titulo
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                            Categoria</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                            Status</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                            Ações</th>

                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (ticket of ticketsPage()?.content; track $index) {
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ticket.chaTxTitulo}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ticket.catTxNome }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            <app-status-badge [status]="ticket.chaTxStatus"></app-status-badge>

                        </td>
                        <td class="flex px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            <app-action icon="clipboard-user" title="Atribuir chamado" classIcon="text-lg " [ngClass]="{ 
                                    'pointer-events-none text-gray-600': ticket.chaTxStatus !== 'ABERTO',
                                        'text-blue-600': ticket.chaTxStatus === 'ABERTO'
                                    }" (clickAction)="openDetailsModal(ticket)" />
                        </td>
                    </tr>
                    }@empty {
                    <tr>
                        <td colspan="4" class="text-center pt-6 pb-3  text-gray-500">
                            Nenhum chamado foi atribuido
                        </td>
                    </tr> }

                </tbody>
            </table>
        </div>
    </div>

</section>

@if(this.formModalIsOpen()){
<app-modal enableClose [(open)]="formModalIsOpen">
    <div class="bg-white border-2 border-black rounded-md p-3 w-[35rem]">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-semibold">Atribuir profissional ao chamado</h1>
            <button type="button" (click)="closeFormModal()"
                class="flex button-default  text-black  gap-3 hover:bg-slate-50">
                X
            </button>
        </div>
        <div>

            <app-dropdown-search placeholder="Selecione um técnico" [options]="this.usersPage()?.content!"
                optionLabel="usuTxNome" optionIdentify="usuNrId" (selectedOptionChange)="onSelectTechinian($event)">
                <ng-template [listTypeInject]="usersPage()?.content!" let-usu>
                    <p>{{usu.usuTxNome}}</p>
                </ng-template>
            </app-dropdown-search>

            <button class="button-default" (click)="submit()">Atribuir</button>

        </div>
    </div>
</app-modal> }