<section class="flex flex-col px-5 py-7 gap-3 overflow-y-auto">
    <div class="p-1">
        <h1 class="font-bold text-3xl">Abrir novo chamado</h1>
    </div>

    <h2 class="font-semibold text-xl">Preencha os dados no formulário para enviar um novo chamado</h2>

    <form [formGroup]="ticketFg" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
        <app-form-field label="Título" [error]="this.errorHandler.showErrorMessageInField(ticketFg, 'chaTxTitulo')">
            <input appFormInput formControlName="chaTxTitulo" type="text" placeholder="Digite o título do chamado" />
        </app-form-field>

        <app-form-field label="Descrição"
            [error]="this.errorHandler.showErrorMessageInField(ticketFg, 'chaTxDescricao')">
            <textarea appFormInput formControlName="chaTxDescricao" placeholder="Digite a descrição"></textarea>
        </app-form-field>

        <app-dropdown-select [error]="this.errorHandler.showErrorMessageInField(ticketFg, 'chaTxDescricao')"
            formControlName="catNrId" [label]="'Categoria'" [options]="categorias" labelKey="catTxDescricao"
            valueKey="catNrId" placeholder="Selecione uma categoria">
        </app-dropdown-select>

        <div class="flex gap-3">
            <button type="button" class="button-default bg-white text-black hover:bg-slate-50" (click)="clearFields()">
                Limpar
            </button>

            <button type="submit" class="button-default bg-primary-3 text-white hover:bg-primary-2">Enviar</button>
        </div>
    </form>
</section>