<div class="flex w-full h-full bg-slate-100 p-3 rounded-lg">
    <div class="flex flex-col">
        <span class="font-semibold text-center">
            Login
        </span>
        <hr class="border-black">
        <form [formGroup]="loginFg" (ngSubmit)="onSubmit()">
            <div class="flex  w-full flex-col p-2 gap-3 ">
                <app-form-field label="Email"
                    [error]="this.errorHandler.showErrorMessageInField(this.loginFg, 'usu_tx_email')">
                    <input appFormInput type="email" placeholder="Digite seu email" formControlName="usu_tx_email" />
                </app-form-field>
                <app-form-field label="Senha"
                    [error]="this.errorHandler.showErrorMessageInField(this.loginFg, 'usu_tx_senha')">
                    <input appFormInput type="password" placeholder="Digite sua senha" formControlName="usu_tx_senha">
                </app-form-field>
                <div class="flex w-full justify-center">
                    <button type="submit"
                        class="justify-self-center rounded-xl w-min h-min px-4 py-2 bg-gray-500 text-white">
                        Logar
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>